<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/teams" method="post">
      <label>
        player:
        <select name="player">
          <option value="Thibaut Courtois" data-position="GK">
            Thibaut Courtois(GK)
          </option>
          <option value="Manuel Neuer" data-position="GK">
            Manuel Neuer(GK)
          </option>
          <option value="Alisson" data-position="GK">Alisson(GK)</option>
          <option value="Virgil Van dijk" data-position="DF">
            Virgil Van dijk(DF)
          </option>
          <option value="Marquinhos" data-position="DF">Marquinhos(DF)</option>
          <option value="Ruben Dias" data-position="DF">Ruben Dias(DF)</option>
          <option value="Kevin de Bruyne" data-position="MF">
            Kevin de Bruyne(MF)
          </option>
          <option value="Luka Modric" data-position="MF">
            Luka Modric(MF)
          </option>
          <option value="N'Golo Kante" data-position="MF">
            N'Golo Kante(MF)
          </option>
          <option value="Neymar" data-position="WG">Neymar(WG)</option>
          <option value="Sadio Mane" data-position="WG">Sadio Mane(WG)</option>
          <option value="Lionel Messi" data-position="WG">
            Lionel Messi(WG)
          </option>
          <option value="Cristiano Ronaldo" data-position="ST">
            Cristiano Ronaldo(ST)
          </option>
          <option value="Karim Benzema" data-position="ST">
            Karim Benzema(ST)
          </option>
          <option value="Kylian Mbappe" data-position="ST">
            Kylian Mbappe(ST)
          </option>
        </select>
      </label>
    </form>
  </body>
</html>
